<!--include header-->
<%- include('include/_header') %>
<!--/include header-->
<span style="color: white; font-size: xx-large;"> Employee Leave Management System</span>

                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->


<!--Main Site-->

<main id="site-main">

    
    <div class="row">

        <div class="col-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">My Profile</h3>
                </div>
                <div class="panel-body">
                    <img src="/img/CyberVaThrA.jpg" height="100px" width="100px"
                        style="float:left; padding: 2%;" />
                    <h3>CyberVaThrA</h3>
                    ColruytHack2020
                </div>
            </div>
        </div>
        <div class="col-4" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Team View</h3>
                </div>
                <div class="panel-body">

                    <table>
                        <% for(var i = 0; i < employees.length; i++) { %>
                        
                        <tr >
                            <td><img src="/img/<%= employees[i].id %>.jpg" height="40px" width="40px" /></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <%= employees[i].name %><br/>
                                <p style="font-size: smaller;"><%= employees[i].designation %></p>
                            </td>
                        </tr>
                        <% } %>
                      
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Leave</h3>
                </div>
                <div class="panel-body">
                    <span style="float: left; padding-right: 2%; text-align: center;"><h1>2</h1>
                        Leave Today
                    </span>
                    <span style="float: left; padding-right: 2%; text-align: center;"><h1>1</h1>
                        Sick Leave
                    </span>
                    <span style="float: left; padding-right: 2%; text-align: center;"><h1>1</h1>
                        Out of Office
                    </span>
                        
                </div>
            </div>
        </div>
        

    </div>
    
</main>
<!--/Main Site-->




<!--include footer-->
<%- include('include/_footer') %>
<!--include footer-->